<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bike-driver-leg-full-vampire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{157,200},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-cockpit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{68,51}</string>
                <key>textureRect</key>
                <string>{{104,142},{68,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-frontpiece.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{120,212},{33,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{157,142},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,33}</string>
                <key>spriteSourceSize</key>
                <string>{15,33}</string>
                <key>textureRect</key>
                <string>{{212,241},{15,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-qstock-chassis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,89}</string>
                <key>spriteSourceSize</key>
                <string>{256,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-qstock-frontdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,102}</string>
                <key>spriteSourceSize</key>
                <string>{59,102}</string>
                <key>textureRect</key>
                <string>{{0,142},{59,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-qstock-leftdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,107}</string>
                <key>spriteSourceSize</key>
                <string>{36,107}</string>
                <key>textureRect</key>
                <string>{{213,91},{36,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-qstock-rightdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,107}</string>
                <key>spriteSourceSize</key>
                <string>{37,107}</string>
                <key>textureRect</key>
                <string>{{174,91},{37,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-qstock-roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,49}</string>
                <key>spriteSourceSize</key>
                <string>{172,49}</string>
                <key>textureRect</key>
                <string>{{0,91},{172,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-tire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{212,200},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-tire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{0,203},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-tire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{41,203},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>driver-leg-full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{82,212},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>car-hippievan-qstock-lowres.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b9c779aaccbe9ff6dfbeb3024bbd81:f50c45c57783b6abea7091ab7b2eb1c3:384ce62c6ea4cdd34d684eefa596b6c2$</string>
            <key>textureFileName</key>
            <string>car-hippievan-qstock-lowres.png</string>
        </dict>
    </dict>
</plist>
